In [14]:
import pandas as pd

In [15]:
df = pd.read_excel('Plant_Y2018.xlsx', index_col=0)

In [16]:
df.head()

,Utility Name,Plant Code,Plant Name,Street Address,City,State,Zip,County,Latitude,Longitude,...,Grid Voltage 2 (kV),Grid Voltage 3 (kV),Energy Storage,Natural Gas LDC Name,Natural Gas Pipeline Name 1,Natural Gas Pipeline Name 2,Natural Gas Pipeline Name 3,Pipeline Notes,Natural Gas Storage,Liquefied Natural Gas Storage
Utility ID,,,,,,,,,,,,,,,,,,,,,
195,Alabama Power Co,2,Bankhead Dam,19001 Lock 17 Road,Northport,AL,35476,Tuscaloosa,33.4587,-87.3568,...,,,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Alabama Power Co,3,Barry,North Highway 43,Bucks,AL,36512,Mobile,31.0069,-88.0103,...,,,N,NaN,BAY GAS STORAGE,NaN,NaN,NaN,N,X
195,Alabama Power Co,4,Walter Bouldin Dam,750 Bouldin Dam Road,Wetumpka,AL,36092,Elmore,32.5839,-86.2831,...,,,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Alabama Power Co,7,Gadsden,1000 Goodyear Ave,Gadsden,AL,35903,Etowah,34.0128,-85.9708,...,,,N,NaN,SOUTHERN NATURAL GAS COMPANY,NaN,NaN,NaN,N,X
195,Alabama Power Co,8,Gorgas,460 Gorgas Road,Parrish,AL,35580,Walker,33.6443,-87.1965,...,,,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.columns

Index(['Utility Name', 'Plant Code', 'Plant Name', 'Street Address', 'City',
       'State', 'Zip', 'County', 'Latitude', 'Longitude', 'NERC Region',
       'Balancing Authority Code', 'Balancing Authority Name',
       'Name of Water Source', 'Primary Purpose (NAICS Code)',
       'Regulatory Status', 'Sector', 'Sector Name',
       'FERC Cogeneration Status', 'FERC Cogeneration Docket Number',
       'FERC Small Power Producer Status',
       'FERC Small Power Producer Docket Number',
       'FERC Exempt Wholesale Generator Status',
       'FERC Exempt Wholesale Generator Docket Number', 'Ash Impoundment?',
       'Ash Impoundment Lined?', 'Ash Impoundment Status',
       'Transmission or Distribution System Owner',
       'Transmission or Distribution System Owner ID',
       'Transmission or Distribution System Owner State', 'Grid Voltage (kV)',
       'Grid Voltage 2 (kV)', 'Grid Voltage 3 (kV)', 'Energy Storage',
       'Natural Gas LDC Name', 'Natural Gas Pipeline Name 1',
       'Natural Gas Pipeline Name 2', 'Natural Gas Pipeline Name 3',
       'Pipeline Notes', 'Natural Gas Storage',
       'Liquefied Natural Gas Storage'],
      dtype='object')

In [24]:
plant = df[['Utility Name', 'State', 'County', 'Latitude', 'Longitude']]

In [25]:
plant.head()

                Utility Name State      County Latitude Longitude
Utility ID
195         Alabama Power Co    AL  Tuscaloosa  33.4587  -87.3568
195         Alabama Power Co    AL      Mobile  31.0069  -88.0103
195         Alabama Power Co    AL      Elmore  32.5839  -86.2831
195         Alabama Power Co    AL      Etowah  34.0128  -85.9708
195         Alabama Power Co    AL      Walker  33.6443  -87.1965

In [26]:
CA_plant = plant.loc[plant['State'] == 'CA']

In [27]:
CA_plant.head()

,Utility Name,State,County,Latitude,Longitude
Utility ID,,,,,
13402,Nevada Irrigation District,CA,Placer,39.1343,-120.953
12397,Metropolitan Water District of S CA,CA,Los Angeles,34.0114,-118.417
17609,Southern California Edison Co,CA,Fresno,37.1479,-119.257
12745,Modesto Irrigation District,CA,Stanislaus,37.6294,-120.931
19281,Turlock Irrigation District,CA,Stanislaus,37.6115,-120.595

In [30]:
plants = CA_plant.drop(['State'], axis=1)

In [31]:
plants.head()

,Utility Name,County,Latitude,Longitude
Utility ID,,,,
13402,Nevada Irrigation District,Placer,39.1343,-120.953
12397,Metropolitan Water District of S CA,Los Angeles,34.0114,-118.417
17609,Southern California Edison Co,Fresno,37.1479,-119.257
12745,Modesto Irrigation District,Stanislaus,37.6294,-120.931
19281,Turlock Irrigation District,Stanislaus,37.6115,-120.595

In [32]:
plants.to_csv('plants.csv')

In [33]:
plants.size

6460